{% extends "_base.html" %}
{% block main_content %}
    <div class="container">
        <div class="py-5">
            <h1 class="text-center">Don't panic!</h1>
            <textarea class="form-control" rows="19" id="chat-log" readonly></textarea>
            <br>
            <div class="input-group mb-3">
                <input id="chat-message-input"
                       class="form-control"
                       type="text"
                       placeholder="Start typing here...">
                <input id="chat-message-submit"
                       type="button"
                       class="btn btn-outline-warning btn-sm"
                       value="Send">
            </div>
        </div>
    </div>
{% endblock %}
